@use './variables' as v;

html {
  font-size: 14px;
  font-family: Inter, sans-serif;
}

body {
  background-color: v.$bg-color;
  color: v.$text-color;
  transition: background-color v.$transition-duration,
    color v.$transition-duration;
}
